<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="1" id="edu.berkeley.eecs.embase" ios-CFBundleVersion="1" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>emission</name>
    <description>
        Base version of the e-mission app, intended for customization by studies.
    </description>
    <author email="shankari@eecs.berkeley.edu" href="https://e-mission.eecs.berkeley.edu">
        E-Mission Team
  </author>
    <content src="index.html" />
    <access origin="*" />
    <hook src="package-hooks/ios9_allow_http.sh" type="after_prepare" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="18" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="100" />
    <preference name="xwalkVersion" value="19+" />
    <preference name="xwalkCommandLine" value="--disable-pull-to-refresh-effect" />
    <preference name="xwalkMode" value="embedded" />
    <preference name="xwalkMultipleApk" value="true" />
    <feature name="StatusBar">
        <param name="ios-package" onload="true" value="CDVStatusBar" />
    </feature>
    <platform name="ios">
    </platform>
    <platform name="android">
        <preference name="android-minSdkVersion" value="18" />
        <preference name="android-targetSdkVersion" value="21" />
    </platform>
    <icon src="resources/icon.png" />
    <plugin name="phonegap-plugin-push" spec="~1.9.2">
        <variable name="SENDER_ID" value="1096592179912" />
    </plugin>
    <plugin name="ionic-plugin-keyboard" spec="~2.2.1" />
    <plugin name="cordova-plugin-app-version" spec="~0.1.9" />
    <plugin name="cordova-plugin-file" spec="~6.0.1" />
    <plugin name="cordova-plugin-device" spec="~2.0.1" />
    <plugin name="cordova-plugin-whitelist" spec="~1.3.3" />
    <plugin name="cordova-plugin-customurlscheme" spec="~4.3.0">
        <variable name="URL_SCHEME" value="emission" />
    </plugin>
    <plugin name="cordova-plugin-email-composer" spec="~0.8.12" />
    <plugin name="cordova-plugin-x-socialsharing" spec="~5.2.1" />
    <plugin name="cordova-plugin-inappbrowser" spec="https://github.com/shankari/cordova-plugin-inappbrowser.git" />
    <plugin name="de.appplant.cordova.plugin.local-notification-ios9-fix" spec="https://github.com/shankari/cordova-plugin-local-notifications.git" />
    <plugin name="edu.berkeley.eecs.emission.cordova.settings" spec="https://github.com/e-mission/cordova-connection-settings.git" />
    <plugin name="edu.berkeley.eecs.emission.cordova.unifiedlogger" spec="https://github.com/e-mission/cordova-unified-logger.git" />
    <plugin name="edu.berkeley.eecs.emission.cordova.comm" spec="https://github.com/e-mission/cordova-server-communication.git" />
    <plugin name="edu.berkeley.eecs.emission.cordova.usercache" spec="https://github.com/e-mission/cordova-usercache.git" />
    <plugin name="edu.berkeley.eecs.emission.cordova.datacollection" spec="https://github.com/e-mission/e-mission-data-collection.git" />
    <plugin name="edu.berkeley.eecs.emission.cordova.serversync" spec="https://github.com/e-mission/cordova-server-sync.git" />
    <plugin name="edu.berkeley.eecs.emission.cordova.transitionnotify" spec="https://github.com/e-mission/e-mission-transition-notify.git" />
    <plugin name="cordova-plugin-ionic" spec="~3.0.0">
        <variable name="APP_ID" value="6ab82e2d" />
        <variable name="CHANNEL_NAME" value="Production" />
        <variable name="UPDATE_METHOD" value="none" />
    </plugin>
    <plugin name="edu.berkeley.eecs.emission.cordova.auth" spec="https://github.com/e-mission/cordova-jwt-auth.git" />
    <preference name="SplashShowOnlyFirstTime" value="false" />
    <engine name="ios" spec="^4.5.4" />
    <engine name="android" spec="^6.4.0" />
</widget>
